.App {
  text-align: center;
  margin: auto;
  width: 800px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form * {
  margin-bottom: 20px;
}

button.remove {
  background-color: darkred;
  border: none;
  color: white;
  padding: 1px 5px;
}
